<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>APICall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <a href="index.html">back</a>
       <!-- <form method="post"> -->
        <div v-for="message in messages">
            <b>id :</b>{{ message._id }}
            <br>
            <b>key public:</b> {{ message.publicAWSKey }}
            <br>
            <b>key private: </b>{{ message.privateAWSKey }}
            <div v-for="costs in cost">
                Gastado hoy: {{costs.Total.AmortizedCost.Amount}}&nbsp;{{costs.Total.AmortizedCost.Unit}}
            </div>
            <br><br>
            <button type="submit" id='button' @click="awsapiCall(message.publicAWSKey, message.privateAWSKey)">
                Hacer peticion 
            </button> 
            <button type="submit" id='button' @click="getKeyId(message._id)">
                conseguir id 
            </button> 
            <br><br>
        </div>
            
        

       <!-- </form> --> 
    </div>
    <script>
            
         
    new Vue({
    el: '#app',
    data: {
        messages: "",
        cost:""
    },
    created (){
    this.getKeys()
    },
    methods:{
        getKeys() {
            axios.get('http://localhost:4000/keys/last')
            .then( res => {this.messages = res.data})
            .catch(function (error) {
                console.log(error);
            });
        },
        getKeyId(id) {
            axios.get('http://localhost:4000/keys/'+id)
            .then( res => console.log(res.data))
            .catch(function (error) {
                console.log(error);
            });
        },

        awsapiCall(publicAWSKey, privateAWSKey){
            axios.get('http://localhost:4000/awsapi?publicAWSKey='+publicAWSKey+'&privateAWSKey='+ privateAWSKey)
            .then( res =>  {this.cost=res.data.ResultsByTime})
            .catch(function (error) {
            console.log(error);
            });
        }
    }
})


    </script>
    

</body>
</html>